/* ================================= 
  Base Element Styles
==================================== */

html,
body {
    height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}



/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
    background:transparent;
    display: flex;
    justify-content: space-between;       
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.main-header .fa {
    font-size: 40px;
    margin-left: 10vw;
}

.main-title {
    color:#00253C;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navigation {
    display: none;
}

.phone-navigation {
    display: none;
}

.main-navigation ul {
    display:flex;
    list-style: none;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navigation ul li {
    margin-left: 20px;
}

.presentation-text {
    text-align: center;
}

.more-info {
    text-align: center;
    border-style: solid;
    border-radius: 3px;
}

.personal-info {
    display: none;
}

.footer {
    height: 20vh;
    width: 100%;
    position: absolute; 
    bottom: 0;
    background-color: rgba(0, 38, 61, 0.75);
    border-top: 0.7px solid grey;
    border-bottom: 0.7px solid grey;
    text-align: center;
    display: flex;
}

.social-media {
    text-align: center;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-media i {
    font-size: 35px;
    color: white;
}

/* ================================= 
  Media Queries
==================================== */

@media only screen and (min-width: 650px) {
    .social-media {
        width: 550px;
    }

    .social-media i {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    h2 {
        font-size: 36px;
    }

    .main-header {
        padding-left: 50px;
        padding-right: 50px;
    }
}



