/* ================================= 
  Base Element Styles
==================================== */

html,
body {
    height: 100%;
}

body {
    font-family: 'Varela', sans-serif;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}


.cover img {
    width: 100%;
}

h2 {
    font-size: 24;
    margin-top: 0;
    margin-bottom: 0;
}



/* ================================= 
  Base Layout Styles
==================================== */

.main-header {
    background:transparent;
    display: flex;
    justify-content: space-between;       
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.main-header .fa {
    font-size: 40px;
    margin-left: 10vw;
}

.main-title {
    color:#00253C;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navigation {
    display: none;
}

.main-navigation ul {
    display:flex;
    list-style: none;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navigation ul li {
    margin-left: 20px;
}

.presentation-text {
    text-align: center;
}

.more-info {
    text-align: center;
    border-style: solid;
    border-radius: 3px;
}

.personal-info {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media only screen and (min-width: 700px) {
    
}

